// Responsive
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Container
@mixin container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  @include respond-to("lg") {
    padding: 0 1.5rem;
  }
  @include respond-to("xxl") {
    padding: 0 70px;
  }
}

@mixin grid-section {
  display: grid;
  grid-template-columns: 1fr;
  @include respond-to("lg") {
    grid-template-columns: 1fr 1fr;
  }
}
