@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary-bg: #e5d5c5;
  --color-primary-btn: #007aff;
  --color-secondary-bg: #f9f0e7;
  --color-gray: #616161;
  --color-gray-light: #9d9d9d;
  --color-font-desc: #8f8a80;
  --color-font-primary: #59626a;
  --color-font-black: #263238;
  --color-bg: #fefefe;
  --font-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

body {
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}

header {
  border-bottom: #dce4ea 1px solid;
}

@mixin container {
  max-width: calc(1300px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.layout {
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container {
  @include container();
}

.nav {
  padding-top: 29px;
  padding-bottom: 20px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include container();
}

.nav__menu {
  display: flex;
  gap: 60px;
}

.nav__menu__item {
  color: var(--color-gray);
  font-size: 16px;
}

.logo {
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
}

.logo .lov {
  color: #ce9362;
}

.logo .cat {
  color: var(--color-font-black);
}

footer .container {
  padding-top: 49px;
  padding-bottom: 50px;
}

.footer__copyright {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-light) !important;
}
