* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg;
  font-family: $font-poppins;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $font-black;
}

header {
  background-color: #fefefe;
  border-bottom: #dce4ea 1px solid;
}

main {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fefefe;
  border-top: 2px solid #ebebeb;
}