@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary-bg: #e5d5c5;
  --color-primary-btn: #007aff;
  --color-secondary-bg: #f9f0e7;
  --color-gray: #616161;
  --color-gray-light: #9d9d9d;
  --color-font-desc: #8f8a80;
  --color-font-primary: #59626a;
  --color-font-black: #263238;
  --color-bg: #fafafa;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-font-black);
}

header {
  background-color: #fefefe;
  border-bottom: #dce4ea 1px solid;
}

main {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fefefe;
  border-top: 2px solid #ebebeb;
}

.layout {
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.layout > * {
  min-width: 0;
  min-height: 0;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
@media (min-width: 1080px) {
  .container {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 70px;
  }
}

.nav {
  padding-top: 29px;
  padding-bottom: 20px;
}

.nav__container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1080px) {
  .nav__container {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  .nav__container {
    padding: 0 70px;
  }
}

.nav__menu {
  display: flex;
  gap: 60px;
}

.nav__menu__item {
  color: var(--color-gray);
  font-size: 16px;
}

.logo {
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
}

.logo .lov {
  color: #ce9362;
}

.logo .cat {
  color: var(--color-font-black);
}

#hero {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  align-items: center;
  gap: 67px;
  margin-bottom: 100px;
}
@media (min-width: 1080px) {
  #hero {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1080px) {
  #hero {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  #hero {
    padding: 0 70px;
  }
}

#hero_picture {
  max-width: 626px;
}

.hero__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 20px;
  color: var(--color-font-black);
}

.hero__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-font-desc);
  margin-bottom: 30px;
}

.btn__primary {
  display: inline-flex;
  min-width: 200px;
  min-height: 45px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-btn);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font: var(--font-inter);
}

.content__title {
  font-size: 38px;
  font-weight: 600;
  line-height: 57px;
  color: var(--color-font-black);
  margin-bottom: 20px;
}

.content__desc {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: var(--color-font-desc);
  margin-bottom: 30px;
}

.content {
  padding-top: 50px;
}

#worried-about-your-pet-data {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  gap: 90px;
  margin-bottom: 120px;
}
@media (min-width: 1080px) {
  #worried-about-your-pet-data {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1080px) {
  #worried-about-your-pet-data {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  #worried-about-your-pet-data {
    padding: 0 70px;
  }
}

#worried-about-your-pet-data a {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: var(--color-primary-btn);
}

#join-to-our-community-for-gathering-love {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  margin-bottom: 83px;
}
@media (min-width: 1080px) {
  #join-to-our-community-for-gathering-love {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1080px) {
  #join-to-our-community-for-gathering-love {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  #join-to-our-community-for-gathering-love {
    padding: 0 70px;
  }
}
@media (min-width: 1280px) {
  #join-to-our-community-for-gathering-love {
    grid-template-columns: minmax(300px, 529px) 1fr;
  }
}

#join-to-our-community-for-gathering-love .sub__content {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 200px);
  row-gap: 30px;
  column-gap: 70px;
}

#join-to-our-community-for-gathering-love .sub__content .title {
  font-size: 24px;
  font-weight: 500px;
  line-height: 29.05px;
  font-family: var(--font-inter);
  color: #152c2b;
  margin-bottom: 10px;
}

#join-to-our-community-for-gathering-love .sub__content .desc {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-inter);
  line-height: 19.36px;
  color: var(--color-font-desc);
}

.bg-vector {
  position: absolute;
  z-index: -1;
  bottom: -108px;
  right: -44px;
}
@media (min-width: 1080px) {
  .bg-vector {
    top: -108px;
    bottom: auto;
  }
}
@media (min-width: 1440px) {
  .bg-vector {
    right: 0;
  }
}

#find-your-lovely-pets {
  margin-bottom: 50px;
}

#find-your-lovely-pets .cat__container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#find-your-lovely-pets .cat__container .cat__scroll {
  overflow-x: scroll;
  padding: 0 1rem;
}
@media (min-width: 1080px) {
  #find-your-lovely-pets .cat__container .cat__scroll {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  #find-your-lovely-pets .cat__container .cat__scroll {
    padding: 0 70px;
  }
}

#find-your-lovely-pets .cat__container .cat__scroll::-webkit-scrollbar {
  display: none;
}

#find-your-lovely-pets > h2 {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 28px;
  line-height: 33.89px;
  color: #86827b;
  text-align: center;
}

#find-your-lovely-pets > h1 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 36px;
  line-height: 43.57px;
  color: var(--color-font-black);
  text-align: center;
}

.cat__content {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.cat__card {
  min-width: 237px;
  display: block;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -5px -5px 25px 0px rgba(0, 0, 0, 0.0509803922);
  margin-bottom: 25px;
}

.cat__image img {
  display: block;
}

.cat__desc {
  padding: 10px;
}

.cat__desc .cat__name {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-bottom: 5px;
}

.cat__tag {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: var(--color-font-desc);
}

.bg-vector-2 {
  position: absolute;
  z-index: -1;
  left: 0;
}

#happy-people-with-happy-pets h1 {
  font-family: var(--font-inter);
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
}

#happy-people-with-happy-pets .people__container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 30px;
}

#happy-people-with-happy-pets .people__container .people__scroll {
  overflow-x: scroll;
  padding: 0 1rem;
}
@media (min-width: 1080px) {
  #happy-people-with-happy-pets .people__container .people__scroll {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  #happy-people-with-happy-pets .people__container .people__scroll {
    padding: 0 70px;
  }
}

#happy-people-with-happy-pets .people__container .people__scroll::-webkit-scrollbar {
  display: none;
}

.people__content {
  display: flex;
  gap: 22px;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}

.people__card {
  background-color: white;
  display: flex;
  border-radius: 10px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.0588235294);
  overflow: hidden;
  max-width: 530px;
  min-width: 530px;
}

.people__card img {
  display: block;
}

.people__desc {
  padding: 30px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.people__comment {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 5%;
  color: black;
}

.people__name {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #706e6b;
  margin-bottom: 5px;
}

.people__job {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #564d4d;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: minmax(0, 459px) 1fr;
}

.footer__desc {
  max-width: 252px;
}

.footer__desc h1 {
  margin-bottom: 16px;
}

.footer__ps {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--color-font-desc);
  margin-bottom: 22px;
}

.footer__navMenu {
  display: flex;
  gap: 120px;
  margin-top: 5px;
  margin-bottom: 51px;
  padding-left: 10px;
}

.footer__navMenu__title {
  margin-bottom: 10px;
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--color-font-black);
}

.footer__navMenu__item {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer__navMenu__item a {
  text-decoration: none;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  color: var(--color-gray-light);
}

.footer__copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-light) !important;
}

footer .btn__donateUs {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #caa180;
  border-radius: 5px;
  padding: 12px 24px 11px 24px;
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: var(--color-font-black);
}

/*# sourceMappingURL=style.css.map */
